version: '3.8'

services:
  postgresql:
    image: postgres:13.22-alpine3.22
    container_name: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1234
      - POSTGRES_DB=als3db
    ports:
      - "5432:5432"
    restart: unless-stopped
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - dev
  redis:
    image: redis:8.2.0-alpine3.22
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    volumes:
      - redis_data:/data
    networks:
      - dev
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
    restart: unless-stopped
    depends_on:
      - postgresql
      - redis
    networks:
      - dev
  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=http://localhost:3000/api
      - API_URL=http://backend:3000/api
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - dev
volumes:
  pg_data:
    driver: local
  redis_data:
    driver: local
networks:
  dev:
    driver: bridge

